<h1>Customer_Dashboards</h1>
<br>
<p>WELCOME TO THE BOOKING SITE!</p>
<br>
<button type="button" class="btn btn-dark"><%= link_to "New_Booking", new_bookingg_path  %></button>
<button type="button" class="btn btn-dark"><%= link_to "Booking_Index", bookinggs_path %></button> 
<button type="button" class="btn btn-dark"><%= link_to "Properties_Index", properties_path %></button> 
 


