<h1>Customer_Dashboards</h1>
<p>WELCOME TO THE BOOKING SITE!</p>
<button style="font-size: 10px;"><%= link_to "New_Booking", new_bookingg_path %></button>
<button style="font-size: 10px;"><%= link_to "Booking_Index", bookinggs_path %></button> 
<button style="font-size: 10px;"><%= link_to "Properties_Index", properties_path %></button> 


