<h1>PropertyOwnerDashboards</h1>
<p>WELCOME TO THE BOOKING SITE!</p>
<button style="font-size: 10px;"><%= link_to "New_Property", new_property_path %></button>
<button style="font-size: 10px;"><%= link_to "Property_Index", properties_path %></button> 