<h1>PropertyOwnerDashboards</h1>
<p>WELCOME TO THE BOOKING SITE!</p>
<button style="font-size: 10px;"><%= link_to "Create_property", new_property_path %></button>
<button style="font-size: 10px;"><%= link_to "Total_Booking", bookinggs_index_path %></button> 
<button style="font-size: 10px;"><%= link_to "List_Of_Properties", properties_path %></button> 
 
