<h1>PropertyOwnerDashboards</h1>
<p>WELCOME TO THE BOOKING SITE!</p>
<button type="button" class="btn btn-dark">
	<%= link_to "New_Property", new_property_path %>
</button>
<button type="button" class="btn btn-dark">
	<%= link_to "Property_Index", properties_path %>
</button> 