 <p style="color: green"><%= notice %></p>

<%= render 'bookingg', bookingg: @bookingg %>

<div>
  <%= link_to "Edit this booking", edit_bookingg_path(@bookingg) %> |
  <%= link_to "Back to booking", bookinggs_path %>

</div>