 <p style="color: green"><%= notice %></p>

<%= render 'bookingg', bookingg: @bookingg %>

<div>
  <%= link_to "Edit this booking", bookinggs_edit_path(@bookingg) %> |
  <%= link_to "Back to booking", bookinggs_index_path %>

</div>